<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Ändra rutin</h3>
    </div>
    <div class="panel-body">
        <form ng-submit="detail.save()">
            <div class="form-group">
                <label for="">Beskrivning</label>
                <textarea rows="9" type="text" class="form-control" ng-model="routine.title"></textarea>
            </div>
            <div class="form-group">
                <label for="">Kategori</label>
                <select ng-model="routine.category" class="form-control">
                    <option ng-repeat="category in vm.categories" value="{{category.title}}">{{category.title}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">När</label>
                <select ng-model="routine.occurence" class="form-control">
                    <option ng-repeat="occurence in vm.occurences" value="{{occurence.title}}">{{occurence.title}}</option>
                </select>
            </div>

            <input type="submit" value="Spara" class="btn btn-success">
            <input type="button" value="Ta bort" class="btn btn-danger" ng-click="detail.delete()">
        </form>
    </div>
</div>